head{
     
    }
header{
	   background-color:#efefef;
	   border: 5px ;
	   
	  }

nav{
	float:left;
	border: 5px; 
	height: 85%;
	background-color:#009900;
   }
   
body{

	 width: 90%;
	 height: 100%;
	 background-color: #0099FF;
	 border:5px solid;
	}
	
form.login{
		   
		   float:left;
	       text-align:center;
           margin:5px; 
           background-color: #efefef;
	       padding:2%; 
	       width: 41%;
	       height: 85%;
	       overflow:auto; 
	       border:1px solid;
	     }
	  
form.sign_up{
			 float:right;
			 text-align:center;
             margin:5px; 
			 background-color: #efefef;
			 padding:2%; 
			 width: 41%;
			 height: 85%;
			 overflow:auto; 
			 border:1px solid;;
			}

.clear{
	   clear:both;
	  }

form.chat{
		
		   float:left;
	       text-align:left;
           margin:5px; 
           background-color: ;
	       padding:2%; 
	       width: 31%;
	       height: 80%;
	       overflow:auto; 
	       border:1px solid;
	     }
textarea{   
		width:300px;
		height: 40px;
		}
fieldset.chat{
position: absolute;
bottom: 0px;
left:15px;
}
#photo-viewer {
			   position: relative;
			   height:300px;
			   overflow: hidden;}
#photo-viewer.is-loading:after {
	content:url(Images/8550P.jpg);
	position: absolute;
	top:0;
	right:0;}
	
#photo-viewer img{
position:absolute;
max-width:100%;
max-height:100%;
top:50%;
left:50%;
}
a.active{
opacity0.3;}  
footer{
	  position:absolute;
	  bottom:0px;
	  height:20px;
	 
	  background-color: #FF8533; 
	 }
form.search{

		   float:left;
	       text-align:center;
           margin:5px; 
           background-color: #efefef;
	       padding:2%; 
	       width: 41%;
	       height: 85%;
	       overflow:auto; 
	       border:1px solid;
	     }