head{
     
    }
header{
	   background-color:#efefef;
	   border: 5px ;
	   
	  }

nav{
	float:left;
	border: 5px; 
	height: 90%;
	background-color:#009900;
   }
   
body{
	 width: 90%;
	 height:90%;
	 background-color: #0099FF;
	 border:5px solid;
	}
	
form{
	 float:left;
	 margin:5px; 
	 padding:5px;  
	 width: 230px; 
	 height: 90%; 
	 overflow:auto; 
	 border:1px solid;
	}
	
.clear{
	   clear:both;
	  }

fieldset{
       background-color: #efefef;
	  }

footer{
	  float:bottom; 
	  background-color: #FF8533; 
	 }
