header{background-color:#009900;border: 5px solid}
nav{float:left;border: 5px solid;height: 90%;background-color:#009900}
body{width: 90%;background-color: #0099FF}
form{float:left; background-color:#FF8533; width: 200px; margin: 10px}


footer{float:bottom; background-color: #FF8533;}